// -----------------------------------------------------------------------------
// This file contains mail ui component rules
// -----------------------------------------------------------------------------

@use '../abstracts/mixins' as mixins;
@use '../abstracts/functions' as functions;
@use '../base/fonts' as fonts;

.mailbox {
	width: 280px;
	overflow: auto;
	padding-bottom: 0;
}
.message-center a {
	border-bottom: 1px solid rgba(120, 130, 140, 0.13);
	display: block;
	padding: 9px 15px;
}
.message-center a:hover {
	background: #f7fafc;
}
.message-center .user-img {
	width: 40px;
	float: left;
	position: relative;
	margin: 0 10px 15px 0;
}
.message-center .user-img img {
	width: 100%;
}
.message-center .user-img .profile-status {
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	left: 30px;
	position: absolute;
	top: 1px;
	width: 10px;
}
.message-center .user-img .online {
	background: #00c292;
}
.message-center .user-img .busy {
	background: #fb9678;
}
.message-center .user-img .away,
.message-center .user-img .offline {
	background: #fec107;
}
.message-center .mail-contnet h5 {
	margin: 0;
	font-weight: 400;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.message-center .mail-contnet .mail-desc {
	font-size: 12px;
	display: block;
	margin: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #2b2b2b;
}
.message-center .mail-contnet .time {
	display: block;
	font-size: 10px;
	color: #2b2b2b;
}
.mail-contnet a.action {
	margin-left: 10px;
	font-size: 12px;
	visibility: hidden;
}
.mail-contnet:hover a.action {
	visibility: visible;
}
.inbox-center .unread td {
	font-weight: 600;
}
.inbox-center a {
	color: #686868;
	padding: 2px 0 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
.comment-center {
	margin: 0 -25px;
}
.comment-center .comment-body {
	border-bottom: 1px solid rgba(120, 130, 140, 0.13);
	display: table;
	padding: 20px 25px;
}
.comment-center .comment-body:hover {
	background: #f7fafc;
}
.comment-center .user-img {
	width: 40px;
	display: table-cell;
	position: relative;
	margin: 0 10px 0 0;
}
.comment-center .user-img img {
	width: 100%;
}
.comment-center .mail-contnet {
	display: table-cell;
	padding-left: 15px;
	vertical-align: top;
}
.comment-center .mail-contnet h5 {
	margin: 0;
	font-weight: 400;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.comment-center .mail-contnet .mail-desc {
	font-size: 14px;
	display: block;
	margin: 8px 0;
	line-height: 25px;
	color: #848a96;
	height: 50px;
	overflow: hidden;
}
.comment-center .mail-contnet .time {
	display: block;
	font-size: 10px;
	color: #2b2b2b;
}
